.product {
    border: 1px solid #00ff00;
    color: #cccccc;
    display: block;
    margin-bottom: 10px;

    &__image {
        display: block;
    }

    &__name {
        font-weight: bold;
    }

    &__price {
        font-size: 14px;
    }
}
